<h1>Edit User</h1>

<% form_for @user do |f| %>
	<%= f.label "Login" %>
	<%= f.text_field :login %> <br />

	<%= f.label "Email"%>
	<%= f.text_field :email %> <br />

	<%= f.label "Admin?"%>
	<% if admin? %>
		<%= f.check_box :admin %> <br />
	<% else %>
		<%= f.check_box :admin, :disabled => true, :readonly => true %> (Checkbox is disabled because you cannot grant yourself adminship if you are not Admin!)<br />
	<% end %>

	<%= f.submit "Commit Changes"%>

<% end %>


<%= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %>


<br />
<%= link_to "User Index" , users_path %>