<h1>New User</h1>

<% form_for @user do |f| %>
	<%= f.label "Login" %>
	<%= f.text_field :login %> <br />

	<%= f.label "Email"%>
	<%= f.text_field :email %> <br />

	<%= f.label "Admin?"%>
	<%= f.check_box :admin %> <br />

	<%= f.submit "Create this user"%>

<% end %>