<h1> Show User</h1>

<b>User:</b>  <%= @user.login %>
<br />
<b>Email:</b>  <%= @user.email %>
<br />
<b>Is Admin?:</b>  <%= @user.admin %>
<br />
<b>Downloadable File:</b>  <%= link_to @user.file.url, @user.file.url %> (<%= link_to 'Delete this file', user_attachments_path(@user), :confirm => 'Are you sure you want to delete this file?  It is NOT undoable!', :method => :delete %>)

<% form_for @user, :html => { :multipart => true } do |f| %>

	<br /><br /><br />
	<%= f.file_field :file %>
	<br />
	<%= f.submit "Upload File"%><br /><br />

<% end %>




<br />
<%= link_to "Edit this user" , edit_user_path %>
<br />
<%= link_to "User Index" , users_path %>